@{
    ViewBag.Title = "Xác nhận khôi phục mật khẩu";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Vui lòng kiểm tra email để khôi phục mật khẩu.
    </p>
</div>

