
@{
    ViewBag.Title = "ThongBaoPayOnline";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Chúng tôi sẽ kiểm tra giao dịch và send mail cho bạn khi hoàn tất trong vòng 24 giờ. Cảm ơn</h2>

