
@{
    ViewBag.Title = "ThongBaoGioHangTrong";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 class="btn-danger">Giỏ hàng không có sản phẩm !!!</h2><br />
<a href="@Url.Action("Index","LinhKien")">Click để về trang chủ</a>

