
@{
    ViewBag.Title = "ThongBao";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h3 class="btn-success">Bạn đã đặt hàng thành công chúng tôi đã gửi mail thông tin đặt hàng cho bạn. Xin Cảm ơn</h3>

