@model WebMVCLinhKienDienTu.Models.LOAILK

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Bạn có muốn xóa loại linh kiện này ?</h3>
<div>
    <h4>Loại Kinh Kiện</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên loại linh kiện
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENLLK)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
